body
    +light
    color: $text-color
.hidden
    display: none
img
    max-width: 100%
.button-o
    border: 2px solid $primary
    background: white
    padding: 17px 22px
    text-transform: uppercase
    color: $primary
    font-size: 12px
    text-decoration: none
    +bold
    &:hover
        cursor: pointer
.button
    border: none
    background-color: $primary
    color: white
    padding: 25px 45px
    text-transform: uppercase
    text-decoration: none
    +bold
    &:hover
        cursor: pointer
.select
    width: 100%
    height: 80px
    border: 1px solid #dddddd
    position: relative
    &:after
        content: ''
        position: absolute
        z-index: 9
        top: 50%
        transform: translateY(-50%)
        right: 20px
        width: 20px
        height: 20px
        background: url('../img/caret.png') no-repeat center
    &:hover
        cursor: pointer
    &_checked
        line-height: 80px
        padding-left: 30px
    &__dropdown
        position: absolute
        top: 80px
        width: 100%
        background: white
        border: 1px solid #dddddd
        margin: 0
        list-style: none
        padding: 0
        display: none
        &_open
            display: block 
    &__option
        padding: 20px
        &:hover
            background-color: $bg-secondary
.bg-secondary
    background: $bg-secondary
.input
    padding-left: 30px
    height: 80px
    border: 1px solid #dddddd
.checkbox
    display: none
    &:checked + label:before
            background: $primary
    &-label
        display: flex
        align-items: center
        margin-right: 42px
        &:hover
            cursor: pointer
        &:before
            content: ''
            width: 30px
            height: 30px
            border: 1px solid #dddddd
            margin-right: 20px
.section
    padding: 100px 0
    &-title
        font-size: 30px
        text-transform: uppercase
        text-align: center
        +bold
        margin-bottom: 100px
    &__title
        margin-bottom: 100px
@media (max-width: 576px)
    .button-o
        font-size: 12px
    .section
        padding: 60px 0
        &-title
            font-size: 24px
@media (max-width: 320px)
    .button
        font-size: 10px
        &-o
            font-size: 10px
.fitting-button
    font-size: 11px
    padding: 10px
    text-transform: uppercase
    color: $primary
    background: white
    border: none
    height: 30px
.add-button
    font-size: 11px
    padding: 10px
    text-transform: uppercase
    color: white
    background: lighten($primary, 10%)
    border: none
    height: 30px
.like-button
    background: $primary
    border: none
    height: 30px
    width: 30px