body
    +light
    color: $text-color
img
    max-width: 100%
.button-o
    border: 2px solid $primary
    background: white
    padding: 17px 22px
    text-transform: uppercase
    color: $primary
    font-size: 12px
    text-decoration: none
    +bold
    &:hover
        cursor: pointer
.button
    border: none
    background-color: $primary
    color: white
    padding: 25px 45px
    text-transform: uppercase
    text-decoration: none
    +bold
    &:hover
        cursor: pointer
.bg-secondary
    background: $bg-secondary
.input
    height: 80px
    border: 1px solid #dddddd
.checkbox
    display: none
    &:checked + label:before
            background: $primary
    &-label
        display: flex
        align-items: center
        margin-right: 42px
        &:hover
            cursor: pointer
        &:before
            content: ''
            width: 30px
            height: 30px
            border: 1px solid #dddddd
            margin-right: 20px
.section
    padding: 100px 0
    &-title
        font-size: 30px
        text-transform: uppercase
        text-align: center
        +bold
        margin-bottom: 100px
    &__title
        margin-bottom: 100px
@media (max-width: 576px)
    .button-o
        font-size: 12px
    .section
        padding: 60px 0
        &-title
            font-size: 24px
@media (max-width: 320px)
    .button
        font-size: 10px
        &-o
            font-size: 10px
.fitting-button
    font-size: 11px
    padding: 10px
    text-transform: uppercase
    color: $primary
    background: white
    border: none
    height: 30px
.add-button
    font-size: 11px
    padding: 10px
    text-transform: uppercase
    color: white
    background: lighten($primary, 10%)
    border: none
    height: 30px
.like-button
    background: $primary
    border: none
    height: 30px
    width: 30px